.archive-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000000;
}
.archive-text {
  color: rgb(255, 255, 255);
  font-size: 32px;
}
.archive-features {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  flex-direction: column;
}
.archive-container1 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.archive-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.archive-feature-card:hover {
  transform: scale(1.02);
}
.archive-navlink {
  display: contents;
}
.archive-text1 {
  color: rgb(0, 249, 255);
  margin-bottom: 32px;
  text-decoration: underline;
}
.archive-image {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 4px;
}
.archive-feature-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.archive-feature-card1:hover {
  transform: scale(1.02);
}
.archive-navlink1 {
  display: contents;
}
.archive-text2 {
  color: rgb(0, 249, 255);
  margin-bottom: 32px;
  text-decoration: underline;
}
.archive-image1 {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 4px;
}
.archive-feature-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.archive-feature-card2:hover {
  transform: scale(1.02);
}
.archive-navlink2 {
  display: contents;
}
.archive-text3 {
  color: rgb(0, 249, 255);
  margin-bottom: 32px;
  text-decoration: underline;
}
.archive-image2 {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 4px;
}
.archive-feature-card3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.archive-feature-card3:hover {
  transform: scale(1.02);
}
.archive-navlink3 {
  display: contents;
}
.archive-text4 {
  color: rgb(0, 249, 255);
  margin-bottom: 32px;
  text-decoration: underline;
}
.archive-image3 {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 4px;
}
.archive-feature-card4 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.archive-feature-card4:hover {
  transform: scale(1.02);
}
.archive-navlink4 {
  display: contents;
}
.archive-text5 {
  color: rgb(0, 249, 255);
  margin-bottom: 32px;
}
.archive-image4 {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 4px;
}
.archive-feature-card5 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.archive-feature-card5:hover {
  transform: scale(1.02);
}
.archive-navlink5 {
  display: contents;
}
.archive-text8 {
  color: rgb(0, 249, 255);
  margin-bottom: 32px;
  text-decoration: underline;
}
.archive-image5 {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 4px;
}
@media(max-width: 1200px) {
  .archive-feature-card {
    max-width: auto;
  }
  .archive-image {
    width: auto;
    max-width: auto;
  }
  .archive-feature-card1 {
    max-width: auto;
  }
  .archive-image1 {
    width: auto;
    max-width: auto;
  }
  .archive-feature-card2 {
    max-width: auto;
  }
  .archive-text3 {
    color: rgb(0, 249, 255);
    width: auto;
    height: auto;
    text-decoration: underline;
  }
  .archive-image2 {
    width: auto;
    height: 120px;
    max-width: auto;
  }
  .archive-feature-card3 {
    max-width: auto;
  }
  .archive-text4 {
    color: rgb(0, 249, 255);
    width: auto;
    height: auto;
    text-decoration: underline;
  }
  .archive-image3 {
    width: auto;
    height: 120px;
    max-width: auto;
  }
  .archive-feature-card4 {
    max-width: auto;
  }
  .archive-text5 {
    color: rgb(0, 249, 255);
    width: auto;
    height: auto;
  }
  .archive-image4 {
    width: auto;
    height: 120px;
    max-width: auto;
  }
  .archive-feature-card5 {
    max-width: auto;
  }
  .archive-text8 {
    color: rgb(0, 249, 255);
    width: auto;
    height: auto;
  }
  .archive-image5 {
    width: auto;
    height: 120px;
    max-width: auto;
  }
}
@media(max-width: 767px) {
  .archive-feature-card {
    max-width: auto;
  }
  .archive-feature-card5 {
    max-width: auto;
  }
}
@media(max-width: 479px) {
  .archive-features {
    width: 100%;
    max-width: auto;
  }
  .archive-image4 {
    width: 100%;
    height: auto;
  }
}
