.archive-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000000;
}
.archive-text {
  color: rgb(255, 255, 255);
  font-size: 32px;
}
.archive-features {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  flex-direction: column;
}
.archive-text1 {
  font-size: 3rem;
  margin-bottom: 48px;
}
.archive-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  grid-gap: 32px;
  align-items: flex-start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.archive-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.archive-feature-card:hover {
  transform: scale(1.02);
}
.archive-text2 {
  color: rgb(0, 249, 255);
  margin-bottom: 32px;
  text-decoration: underline;
}
.archive-image {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 4px;
}
@media(max-width: 991px) {
  .archive-text1 {
    align-self: center;
  }
  .archive-container1 {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .archive-features {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .archive-features {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .archive-container1 {
    grid-gap: var(--dl-space-space-halfunit);
  }
}
