.bounty-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
 
.bounty-thq-card-content-elm1 {
  width: auto;
  height: auto;
  margin: var(--dl-layout-space-fiveunits);
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  max-width: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.bounty-text10 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.bounty-text11 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.bounty-link1 {
  text-decoration: underline;
}
 
.bounty-text23 {
  font-style: normal;
  font-weight: 700;
}
 
.bounty-thq-card-content-elm2 {
  width: auto;
  height: auto;
  margin: var(--dl-layout-space-fiveunits);
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  max-width: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.bounty-text25 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.bounty-text26 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.bounty-text30 {
  color: #0fff00;
}
 
.bounty-link2 {
  text-decoration: underline;
}
 
.bounty-text37 {
  font-style: normal;
  font-weight: 700;
}
 
.bounty-thq-card-content-elm3 {
  width: auto;
  height: auto;
  margin: var(--dl-layout-space-fiveunits);
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  max-width: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.bounty-text39 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.bounty-text40 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.bounty-link3 {
  text-decoration: underline;
}
 
.bounty-link4 {
  display: contents;
}
 
.bounty-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.bounty-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.bounty-text50 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
