.dec22-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.dec22-blog-post-card {
  width: 100%;
  height: 819px;
  display: flex;
  max-width: 1400px;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.dec22-blog-post-card:hover {
  transform: scale(1.02);
}
.dec22-container1 {
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
}
.dec22-container2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.dec22-text {
  color: var(--dl-color-gray-500);
  font-weight: 600;
  text-transform: uppercase;
}
.dec22-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dec22-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dec22-text1 {
  color: rgb(255, 255, 255);
  margin-bottom: 32px;
}
.dec22-image {
  width: auto;
  height: auto;
  object-fit: cover;
}
.dec22-text2 {
  color: var(--dl-color-gray-500);
  font-weight: 300;
}
.dec22-text3 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  margin-bottom: 32px;
}
.dec22-container5 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.dec22-profile {
  display: flex;
  align-items: center;
}
.dec22-image1 {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.dec22-text4 {
  color: #ffffff;
}
@media(max-width: 1200px) {
  .dec22-container {
    background-color: #000000;
  }
  .dec22-blog-post-card {
    width: 100%;
    height: 100%;
    max-width: auto;
  }
  .dec22-container1 {
    width: auto;
    height: auto;
  }
}
