.games-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.games-services {
  width: 100%;
  height: 2065px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  flex-direction: row;
  justify-content: space-between;
}
.games-service-card {
  width: 49%;
  height: 1978px;
  display: flex;
  min-height: 500px;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: center;
}
.games-card-content {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-text {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text01 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #00ff02;
}
.games-card-content01 {
  width: 437px;
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-text02 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text03 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link01 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #ff9800;
}
.games-card-content02 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-text07 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text08 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link02 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: rgba(0, 255, 224, 0.65);
}
.games-card-content03 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-text09 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text10 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link03 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.games-card-content04 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-text11 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text12 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link04 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: rgb(119, 0, 73);
}
.games-card-content05 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-text13 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text14 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link05 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #f9753f;
}
.games-card-content06 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-text15 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text16 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link06 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(192, 36, 37) 0%, rgb(2, 255, 0) 100%);
}
.games-card-content07 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-text17 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text18 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link07 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: rgb(251, 113, 237);
}
.games-service-card1 {
  width: 49%;
  display: flex;
  min-height: 500px;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: center;
}
.games-card-content08 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  padding-right: 40px;
  flex-direction: column;
  justify-content: center;
}
.games-text19 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text20 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link08 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #ffed00;
}
.games-card-content09 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  padding-right: 40px;
  flex-direction: column;
  justify-content: center;
}
.games-text21 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text22 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link09 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #ff0000;
}
.games-card-content10 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  padding-right: 40px;
  flex-direction: column;
  justify-content: center;
}
.games-text23 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text24 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link10 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #c400ff;
}
.games-card-content11 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  padding-right: 40px;
  flex-direction: column;
  justify-content: center;
}
.games-text27 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text28 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link11 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #64ff47;
}
.games-card-content12 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  padding-right: 40px;
  flex-direction: column;
  justify-content: center;
}
.games-text31 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text32 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link12 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #83a004;
}
.games-card-content13 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  padding-right: 40px;
  flex-direction: column;
  justify-content: center;
}
.games-text35 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text36 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link13 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: rgb(5, 88, 31);
}
.games-card-content14 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  padding-right: 40px;
  flex-direction: column;
  justify-content: center;
}
.games-text39 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text40 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link14 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #59156d;
}
.games-card-content15 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  padding-right: 40px;
  flex-direction: column;
  justify-content: center;
}
.games-text46 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text47 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link15 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #5a1818;
}
@media(max-width: 1200px) {
  .games-service-card1 {
    width: auto;
    min-height: auto;
  }
  .games-text28 {
    color: var(--dl-color-primary-700);
  }
  .games-link11 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: rgb(255, 0, 122);
  }
  .games-text32 {
    color: var(--dl-color-primary-700);
  }
  .games-link12 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #83a004;
  }
  .games-text36 {
    color: var(--dl-color-primary-700);
  }
  .games-link13 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: rgb(5, 88, 31);
  }
  .games-text40 {
    color: var(--dl-color-primary-700);
  }
  .games-link14 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #59156d;
  }
  .games-text47 {
    color: var(--dl-color-primary-700);
  }
  .games-link15 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #5a1818;
  }
}
@media(max-width: 991px) {
  .games-link11 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: rgb(255, 0, 122);
  }
  .games-link12 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #83a004;
  }
  .games-link13 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: rgb(5, 88, 31);
  }
  .games-link14 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #59156d;
  }
  .games-card-content15 {
    padding-bottom: 40px;
  }
  .games-text47 {
    color: var(--dl-color-primary-700);
  }
  .games-link15 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #5a1818;
  }
}
@media(max-width: 767px) {
  .games-link01 {
    width: 80%;
  }
  .games-text47 {
    color: var(--dl-color-primary-700);
  }
}
@media(max-width: 479px) {
  .games-services {
    height: 100%;
  }
  .games-service-card {
    width: 479px;
    height: auto;
    min-height: auto;
  }
  .games-link {
    width: 100%;
  }
  .games-link01 {
    width: auto;
  }
  .games-link02 {
    width: auto;
  }
  .games-link03 {
    width: auto;
  }
  .games-link04 {
    width: auto;
  }
  .games-link05 {
    width: auto;
  }
  .games-link06 {
    width: auto;
  }
  .games-link07 {
    width: auto;
  }
  .games-service-card1 {
    width: auto;
    min-height: auto;
  }
  .games-link08 {
    width: 100%;
  }
  .games-link09 {
    width: auto;
  }
  .games-link10 {
    width: auto;
  }
  .games-link11 {
    width: auto;
  }
  .games-link12 {
    width: auto;
  }
  .games-link13 {
    width: auto;
  }
  .games-link14 {
    width: auto;
  }
  .games-link15 {
    width: auto;
  }
}
