.games-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.games-services {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  flex-direction: row;
  justify-content: space-between;
}
.games-service-card {
  width: 50%;
  height: auto;
  display: flex;
  align-self: center;
  min-height: auto;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: center;
}
.games-card-content {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-text {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text001 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #00ff02;
}
.games-card-content01 {
  width: 437px;
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-text002 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text003 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link01 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #ff9800;
}
.games-card-content02 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-text007 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text008 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link02 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: rgba(0, 255, 224, 0.65);
}
.games-card-content03 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-text009 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text010 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link03 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.games-card-content04 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-text011 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text012 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link04 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: rgb(119, 0, 73);
}
.games-card-content05 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-text013 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text014 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link05 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #f9753f;
}
.games-card-content06 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-text015 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text016 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link06 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(192, 36, 37) 0%, rgb(2, 255, 0) 100%);
}
.games-card-content07 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-text017 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text018 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link07 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: rgb(251, 113, 237);
}
.games-card-content08 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-text019 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text020 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link08 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #b3da72;
}
.games-card-content09 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-text024 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text025 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link09 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #ef8566;
}
.games-card-content10 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-text029 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text030 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link10 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #079404;
}
.games-card-content11 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-text034 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text035 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link11 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: transparent;
  background-image: linear-gradient(315deg, rgb(189, 195, 199) 0.00%,rgb(67, 0, 255) 100.00%);
}
.games-card-content12 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-text039 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text040 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text041 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link12 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link13 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: transparent;
  background-image: linear-gradient(45deg, rgb(133, 255, 0) 0.00%,rgb(100, 179, 244) 100.00%);
}
.games-card-content13 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-text046 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text047 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link15 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: transparent;
  background-image: linear-gradient(45deg, rgb(100, 179, 244) 0.00%,rgb(244, 100, 100) 45.00%,rgb(244, 100, 100) 61.00%,rgb(100, 179, 244) 100.00%);
}
.games-card-content14 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-text054 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text055 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link16 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: transparent;
  background-image: linear-gradient(45deg, rgb(255, 0, 0) 1.00%,rgb(232, 195, 91) 46.00%,rgb(223, 197, 97) 59.00%,rgb(255, 0, 0) 100.00%);
}
.games-container1 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.games-service-card1 {
  width: auto;
  display: flex;
  min-height: auto;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: center;
}
.games-card-content15 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  padding-right: 40px;
  flex-direction: column;
  justify-content: center;
}
.games-text061 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text062 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link17 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #ffed00;
}
.games-card-content16 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  padding-right: 40px;
  flex-direction: column;
  justify-content: center;
}
.games-text063 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text064 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link18 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #ff0000;
}
.games-card-content17 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  padding-right: 40px;
  flex-direction: column;
  justify-content: center;
}
.games-text065 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text066 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link19 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #c400ff;
}
.games-card-content18 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  padding-right: 40px;
  flex-direction: column;
  justify-content: center;
}
.games-text069 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text070 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link20 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: rgb(255, 0, 122);
}
.games-card-content19 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  padding-right: 40px;
  flex-direction: column;
  justify-content: center;
}
.games-text073 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text074 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link21 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #83a004;
}
.games-card-content20 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  padding-right: 40px;
  flex-direction: column;
  justify-content: center;
}
.games-text077 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text078 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link22 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: rgb(5, 88, 31);
}
.games-card-content21 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  padding-right: 40px;
  flex-direction: column;
  justify-content: center;
}
.games-text081 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text082 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link23 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #59156d;
}
.games-card-content22 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  padding-right: 40px;
  flex-direction: column;
  justify-content: center;
}
.games-text088 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text089 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link24 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #5a1818;
}
.games-card-content23 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  padding-right: 40px;
  flex-direction: column;
  justify-content: center;
}
.games-text095 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text096 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link25 {
  color: var(--dl-color-gray-white);
  width: 100%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgb(192, 36, 37) 0.00%,rgb(0, 11, 255) 100.00%);
}
.games-card-content24 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  padding-right: 40px;
  flex-direction: column;
  justify-content: center;
}
.games-text102 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text103 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link26 {
  color: var(--dl-color-gray-white);
  width: 100%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgb(192, 36, 37) 0.00%,rgb(255, 0, 163) 100.00%);
}
.games-card-content25 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  padding-right: 40px;
  flex-direction: column;
  justify-content: center;
}
.games-text109 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text110 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link27 {
  color: var(--dl-color-gray-white);
  width: 100%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgb(255, 254, 0) 3.00%,rgb(22, 255, 0) 100.00%);
}
.games-card-content26 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  padding-right: 40px;
  flex-direction: column;
  justify-content: center;
}
.games-text116 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text117 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text121 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link28 {
  color: var(--dl-color-gray-white);
  width: 100%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: transparent;
  background-image: linear-gradient(#feac5e 0%, #c779d0 50%, #4bc0c8 100%);
}
.games-card-content27 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  padding-right: 40px;
  flex-direction: column;
  justify-content: center;
}
.games-text127 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text128 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text130 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link29 {
  color: var(--dl-color-gray-white);
  width: 100%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: transparent;
  background-image: linear-gradient(180deg, rgb(144, 254, 94) 2.00%,rgb(208, 161, 121) 51.00%,rgb(175, 75, 200) 99.00%);
}
.games-card-content28 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  padding-right: 40px;
  flex-direction: column;
  justify-content: center;
}
.games-text136 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text137 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text139 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link30 {
  color: var(--dl-color-gray-white);
  width: 100%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: transparent;
  background-image: linear-gradient(180deg, rgb(254, 233, 94) 2.00%,rgb(208, 161, 121) 51.00%,rgb(200, 75, 97) 97.00%);
}
.games-card-content29 {
  margin: var(--dl-space-space-fiveunits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 500px;
  align-items: center;
  padding-right: 40px;
  flex-direction: column;
  justify-content: center;
}
.games-text145 {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-text148 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.games-link31 {
  color: var(--dl-color-gray-white);
  width: 100%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: transparent;
  background-image: linear-gradient(45deg, rgb(254, 233, 94) 2.00%,rgb(85, 0, 59) 100.00%,rgb(255, 228, 0) 98.00%);
}
@media(max-width: 1200px) {
  .games-text020 {
    color: var(--dl-color-primary-700);
  }
  .games-link08 {
    background-color: #b3da72;
  }
  .games-text025 {
    color: var(--dl-color-primary-700);
  }
  .games-link09 {
    background-color: #ef8566;
  }
  .games-text030 {
    color: var(--dl-color-primary-700);
  }
  .games-link10 {
    background-color: #079404;
  }
  .games-text035 {
    color: var(--dl-color-primary-700);
  }
  .games-link11 {
    background-color: #079404;
    background-image: linear-gradient(315deg, rgb(189, 195, 199) 0.00%,rgb(67, 0, 255) 100.00%);
  }
  .games-text036 {
    color: #ffffff;
  }
  .games-text040 {
    color: var(--dl-color-primary-700);
  }
  .games-link12 {
    color: #57ffe7;
    text-decoration: underline;
  }
  .games-link13 {
    background-color: #079404;
    background-image: linear-gradient(45deg, rgb(133, 255, 0) 0.00%,rgb(100, 179, 244) 100.00%);
  }
  .games-text043 {
    color: rgb(255, 255, 255);
  }
  .games-text047 {
    color: var(--dl-color-primary-700);
  }
  .games-link14 {
    text-decoration: underline;
  }
  .games-link15 {
    background-color: #079404;
    background-image: linear-gradient(45deg, rgb(100, 179, 244) 0.00%,rgb(244, 100, 100) 45.00%,rgb(244, 100, 100) 61.00%,rgb(100, 179, 244) 100.00%);
  }
  .games-text051 {
    color: rgb(255, 255, 255);
  }
  .games-text055 {
    color: var(--dl-color-primary-700);
  }
  .games-link16 {
    background-color: #079404;
    background-image: linear-gradient(45deg, rgb(255, 0, 0) 1.00%,rgb(232, 195, 91) 46.00%,rgb(223, 197, 97) 59.00%,rgb(255, 0, 0) 100.00%);
  }
  .games-text058 {
    color: rgb(255, 255, 255);
  }
  .games-service-card1 {
    width: auto;
    min-height: auto;
  }
  .games-text070 {
    color: var(--dl-color-primary-700);
  }
  .games-link20 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: rgb(255, 0, 122);
  }
  .games-text074 {
    color: var(--dl-color-primary-700);
  }
  .games-link21 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #83a004;
  }
  .games-text078 {
    color: var(--dl-color-primary-700);
  }
  .games-link22 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: rgb(5, 88, 31);
  }
  .games-text082 {
    color: var(--dl-color-primary-700);
  }
  .games-link23 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #59156d;
  }
  .games-text089 {
    color: var(--dl-color-primary-700);
  }
  .games-link24 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #5a1818;
  }
  .games-text096 {
    color: var(--dl-color-primary-700);
  }
  .games-link25 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #5a1818;
  }
  .games-text103 {
    color: var(--dl-color-primary-700);
  }
  .games-link26 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #5a1818;
    background-image: linear-gradient(90deg, rgb(192, 36, 37) 0.00%,rgb(255, 0, 163) 100.00%);
  }
  .games-text110 {
    color: var(--dl-color-primary-700);
  }
  .games-link27 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #5a1818;
    background-image: linear-gradient(90deg, rgb(255, 254, 0) 3.00%,rgb(22, 255, 0) 100.00%);
  }
  .games-card-content26 {
    max-width: auto;
  }
  .games-text116 {
    color: rgb(255, 255, 255);
  }
  .games-text121 {
    color: var(--dl-color-primary-700);
  }
  .games-link28 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #D9D9D9;
    background-image: linear-gradient(#feac5e 0%, #c779d0 50%, #4bc0c8 100%);
  }
  .games-card-content27 {
    max-width: auto;
  }
  .games-text127 {
    color: rgb(255, 255, 255);
  }
  .games-text130 {
    color: var(--dl-color-primary-700);
  }
  .games-link29 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #D9D9D9;
    background-image: linear-gradient(180deg, rgb(144, 254, 94) 2.00%,rgb(208, 161, 121) 51.00%,rgb(175, 75, 200) 99.00%);
  }
  .games-card-content28 {
    max-width: auto;
  }
  .games-text136 {
    color: rgb(255, 255, 255);
  }
  .games-text139 {
    color: var(--dl-color-primary-700);
  }
  .games-link30 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #D9D9D9;
    background-image: linear-gradient(180deg, rgb(254, 233, 94) 2.00%,rgb(208, 161, 121) 51.00%,rgb(200, 75, 97) 97.00%);
  }
  .games-card-content29 {
    max-width: auto;
  }
  .games-text145 {
    color: rgb(255, 255, 255);
  }
  .games-text148 {
    color: var(--dl-color-primary-700);
  }
  .games-link31 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #D9D9D9;
    background-image: linear-gradient(45deg, rgb(254, 233, 94) 2.00%,rgb(85, 0, 59) 100.00%,rgb(255, 228, 0) 98.00%);
  }
}
@media(max-width: 991px) {
  .games-services {
    width: auto;
    height: auto;
    position: relative;
    align-self: flex-start;
    align-items: center;
    padding-top: 0px;
    justify-content: flex-start;
  }
  .games-service-card {
    width: 50%;
    height: auto;
    align-self: flex-start;
  }
  .games-card-content {
    max-width: auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .games-card-content01 {
    width: 100%;
    max-width: auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .games-link01 {
    width: 100%;
  }
  .games-card-content02 {
    max-width: auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .games-link02 {
    width: 100%;
  }
  .games-card-content03 {
    max-width: auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .games-link03 {
    width: 100%;
  }
  .games-card-content04 {
    margin-top: var(--dl-space-space-fiveunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .games-link04 {
    width: 100%;
  }
  .games-card-content05 {
    max-width: auto;
    margin-top: var(--dl-space-space-fiveunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .games-link05 {
    width: 100%;
  }
  .games-card-content06 {
    margin-top: var(--dl-space-space-fiveunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .games-card-content07 {
    margin: 0px;
  }
  .games-link08 {
    background-color: #b3da72;
  }
  .games-card-content09 {
    margin: 0px;
  }
  .games-link09 {
    width: 100%;
    background-color: #ef8566;
  }
  .games-card-content10 {
    width: 100%;
    max-width: auto;
  }
  .games-link10 {
    width: 100%;
    background-color: #079404;
  }
  .games-card-content11 {
    width: 100%;
    max-width: auto;
  }
  .games-link11 {
    width: 100%;
    background-color: #ef8566;
  }
  .games-card-content12 {
    width: 100%;
    max-width: auto;
  }
  .games-link13 {
    width: 100%;
    background-color: #ef8566;
  }
  .games-card-content13 {
    width: 100%;
    max-width: auto;
  }
  .games-link15 {
    width: 100%;
    background-color: #ef8566;
  }
  .games-card-content14 {
    width: 100%;
    max-width: auto;
  }
  .games-link16 {
    width: 100%;
    background-color: #ef8566;
  }
  .games-container1 {
    flex: 1;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .games-service-card1 {
    width: auto;
    align-self: flex-end;
    align-items: flex-end;
  }
  .games-card-content15 {
    max-width: auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .games-link17 {
    width: 100%;
  }
  .games-card-content16 {
    max-width: auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .games-link18 {
    width: 100%;
  }
  .games-card-content17 {
    max-width: auto;
    margin-top: var(--dl-space-space-fiveunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .games-link19 {
    width: 100%;
  }
  .games-card-content18 {
    width: 100%;
    max-width: auto;
    align-self: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  .games-link20 {
    color: var(--dl-color-gray-white);
    width: 100%;
    font-size: 18px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: rgb(255, 0, 122);
  }
  .games-card-content19 {
    max-width: auto;
    margin-top: var(--dl-space-space-fiveunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .games-text074 {
    color: var(--dl-color-primary-700);
  }
  .games-link21 {
    color: var(--dl-color-gray-white);
    width: 100%;
    font-size: 18px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #83a004;
  }
  .games-card-content20 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .games-link22 {
    color: var(--dl-color-gray-white);
    width: 100%;
    font-size: 18px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: rgb(5, 88, 31);
  }
  .games-card-content21 {
    width: auto;
    max-width: auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .games-link23 {
    color: var(--dl-color-gray-white);
    width: 100%;
    font-size: 18px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #59156d;
  }
  .games-card-content22 {
    width: auto;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 40px;
  }
  .games-text088 {
    width: auto;
    height: auto;
  }
  .games-text089 {
    color: var(--dl-color-primary-700);
    width: auto;
    height: auto;
  }
  .games-link24 {
    color: var(--dl-color-gray-white);
    width: 100%;
    height: auto;
    font-size: 18px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #5a1818;
  }
  .games-text092 {
    width: auto;
    height: auto;
  }
  .games-card-content23 {
    width: auto;
    height: auto;
    max-width: auto;
    margin-left: 0px;
    padding-bottom: 40px;
  }
  .games-text095 {
    width: auto;
    height: auto;
  }
  .games-text096 {
    color: var(--dl-color-primary-700);
    width: auto;
    height: auto;
  }
  .games-link25 {
    color: var(--dl-color-gray-white);
    width: 100%;
    height: auto;
    font-size: 18px;
    max-width: auto;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #5a1818;
  }
  .games-text099 {
    width: auto;
    max-width: auto;
  }
  .games-card-content24 {
    width: auto;
    height: auto;
    max-width: auto;
    margin-left: 0px;
    padding-bottom: 40px;
  }
  .games-text102 {
    width: auto;
    height: auto;
    max-width: auto;
  }
  .games-text103 {
    color: var(--dl-color-primary-700);
    width: auto;
    height: auto;
    max-width: auto;
  }
  .games-link26 {
    color: var(--dl-color-gray-white);
    width: 100%;
    height: auto;
    font-size: 18px;
    max-width: auto;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #5a1818;
  }
  .games-text106 {
    width: auto;
    height: auto;
  }
  .games-card-content25 {
    width: 100%;
    height: auto;
    max-width: auto;
    align-self: center;
    padding-bottom: 40px;
  }
  .games-text109 {
    width: auto;
    height: auto;
    max-width: auto;
  }
  .games-text110 {
    color: var(--dl-color-primary-700);
    width: auto;
    height: auto;
    max-width: auto;
  }
  .games-link27 {
    color: var(--dl-color-gray-white);
    width: 100%;
    height: auto;
    font-size: 18px;
    max-width: auto;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #5a1818;
  }
  .games-text113 {
    width: auto;
    height: auto;
    max-width: auto;
  }
  .games-card-content26 {
    width: 100%;
    height: auto;
    max-width: auto;
    margin-right: 0px;
    padding-bottom: 40px;
  }
  .games-text116 {
    width: auto;
    max-width: auto;
  }
  .games-text121 {
    color: var(--dl-color-primary-700);
    width: 100%;
    height: auto;
    max-width: auto;
  }
  .games-link28 {
    color: var(--dl-color-gray-white);
    width: 100%;
    height: auto;
    font-size: 18px;
    max-width: auto;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #5a1818;
  }
  .games-text124 {
    width: 100%;
    height: auto;
    max-width: auto;
  }
  .games-card-content27 {
    width: 100%;
    height: auto;
    max-width: auto;
    margin-right: 0px;
    padding-bottom: 40px;
  }
  .games-text127 {
    width: auto;
    max-width: auto;
  }
  .games-text130 {
    color: var(--dl-color-primary-700);
    width: 100%;
    height: auto;
    max-width: auto;
  }
  .games-link29 {
    color: var(--dl-color-gray-white);
    width: 100%;
    height: auto;
    font-size: 18px;
    max-width: auto;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #5a1818;
    background-image: linear-gradient(180deg, rgb(144, 254, 94) 2.00%,rgb(208, 161, 121) 51.00%,rgb(175, 75, 200) 99.00%);
  }
  .games-text133 {
    width: 100%;
    height: auto;
    max-width: auto;
  }
  .games-card-content28 {
    width: 100%;
    height: auto;
    max-width: auto;
    margin-right: 0px;
    padding-bottom: 40px;
  }
  .games-text136 {
    width: auto;
    max-width: auto;
  }
  .games-text139 {
    color: var(--dl-color-primary-700);
    width: 100%;
    height: auto;
    max-width: auto;
  }
  .games-link30 {
    color: var(--dl-color-gray-white);
    width: 100%;
    height: auto;
    font-size: 18px;
    max-width: auto;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #5a1818;
    background-image: linear-gradient(180deg, rgb(254, 233, 94) 2.00%,rgb(208, 161, 121) 51.00%,rgb(200, 75, 97) 97.00%);
  }
  .games-text142 {
    width: 100%;
    height: auto;
    max-width: auto;
  }
  .games-card-content29 {
    width: 100%;
    height: auto;
    max-width: auto;
    margin-right: 0px;
    padding-bottom: 40px;
  }
  .games-text145 {
    width: auto;
    max-width: auto;
  }
  .games-text148 {
    color: var(--dl-color-primary-700);
    width: 100%;
    height: auto;
    max-width: auto;
  }
  .games-link31 {
    color: var(--dl-color-gray-white);
    width: 100%;
    height: auto;
    font-size: 18px;
    max-width: auto;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #5a1818;
    background-image: linear-gradient(45deg, rgb(254, 233, 94) 2.00%,rgb(85, 0, 59) 100.00%,rgb(255, 228, 0) 98.00%);
  }
  .games-text151 {
    width: 100%;
    height: auto;
    max-width: auto;
  }
}
@media(max-width: 767px) {
  .games-services {
    width: auto;
    height: auto;
  }
  .games-text {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text001 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-link {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text002 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text003 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-link01 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text007 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text008 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-link02 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text009 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text010 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-link03 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text011 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text012 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-link04 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text013 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text014 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-link05 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text015 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text016 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-link06 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text017 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text018 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-link07 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text019 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text020 {
    color: var(--dl-color-primary-700);
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-link08 {
    color: var(--dl-color-gray-white);
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
    text-decoration: none;
    background-color: #b3da72;
  }
  .games-text022 {
    width: 100%;
  }
  .games-card-content09 {
    margin: 0px;
  }
  .games-text024 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text025 {
    color: var(--dl-color-primary-700);
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-link09 {
    color: var(--dl-color-gray-white);
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
    text-decoration: none;
    background-color: #ef8566;
  }
  .games-text029 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text030 {
    color: var(--dl-color-primary-700);
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-link10 {
    color: var(--dl-color-gray-white);
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
    text-decoration: none;
    background-color: #079404;
  }
  .games-card-content11 {
    margin: 0px;
  }
  .games-text034 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text035 {
    color: var(--dl-color-primary-700);
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-link11 {
    color: var(--dl-color-gray-white);
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
    text-decoration: none;
    background-color: #ef8566;
  }
  .games-card-content12 {
    margin: 0px;
  }
  .games-text039 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text040 {
    color: var(--dl-color-primary-700);
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text041 {
    color: var(--dl-color-primary-700);
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-link12 {
    color: var(--dl-color-primary-700);
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-link13 {
    color: var(--dl-color-gray-white);
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
    text-decoration: none;
    background-color: #ef8566;
  }
  .games-card-content13 {
    margin: 0px;
  }
  .games-text046 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text047 {
    color: var(--dl-color-primary-700);
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-link15 {
    color: var(--dl-color-gray-white);
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
    text-decoration: none;
    background-color: #ef8566;
  }
  .games-card-content14 {
    margin: 0px;
  }
  .games-text054 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text055 {
    color: var(--dl-color-primary-700);
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-link16 {
    color: var(--dl-color-gray-white);
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
    text-decoration: none;
    background-color: #ef8566;
  }
  .games-container1 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text061 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text062 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-link17 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text063 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text064 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-link18 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-card-content17 {
    width: auto;
    max-width: auto;
    margin-right: 0px;
  }
  .games-text065 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text066 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
  }
  .games-link19 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text069 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text070 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-link20 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text073 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text074 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
  }
  .games-link21 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-card-content20 {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: var(--dl-space-space-unit);
    max-width: auto;
    min-height: auto;
  }
  .games-text077 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text078 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-link22 {
    width: auto;
  }
  .games-text081 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text082 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
  }
  .games-link23 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text088 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text089 {
    color: var(--dl-color-primary-700);
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-link24 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
    background-color: #5a1818;
  }
  .games-text095 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text096 {
    color: var(--dl-color-primary-700);
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-link25 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-card-content24 {
    width: 100%;
    margin: 0px;
  }
  .games-text102 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text103 {
    color: var(--dl-color-primary-700);
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-link26 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-card-content25 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .games-text109 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text110 {
    color: var(--dl-color-primary-700);
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-link27 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-card-content26 {
    margin: 0px;
    padding-right: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .games-text116 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text121 {
    color: var(--dl-color-primary-700);
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-link28 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-card-content27 {
    margin: 0px;
    padding-right: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .games-text127 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text130 {
    color: var(--dl-color-primary-700);
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-link29 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-card-content28 {
    margin: 0px;
    padding-right: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .games-text136 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text139 {
    color: var(--dl-color-primary-700);
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-link30 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-card-content29 {
    margin: 0px;
    padding-right: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .games-text145 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-text148 {
    color: var(--dl-color-primary-700);
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
  .games-link31 {
    width: 100%;
    height: auto;
    max-width: auto;
    min-height: auto;
  }
}
@media(max-width: 479px) {
  .games-services {
    height: 100%;
  }
  .games-service-card {
    width: 479px;
    height: auto;
    min-height: auto;
  }
  .games-link {
    width: 100%;
  }
  .games-link01 {
    width: 100%;
  }
  .games-link02 {
    width: 100%;
  }
  .games-link03 {
    width: 100%;
  }
  .games-link04 {
    width: 100%;
  }
  .games-link05 {
    width: 100%;
  }
  .games-link06 {
    width: 100%;
  }
  .games-link07 {
    width: 100%;
  }
  .games-link08 {
    width: 100%;
  }
  .games-text022 {
    width: 100%;
  }
  .games-link09 {
    width: 100%;
  }
  .games-link10 {
    width: 100%;
  }
  .games-link11 {
    width: 100%;
  }
  .games-link13 {
    width: 100%;
  }
  .games-link15 {
    width: 100%;
  }
  .games-link16 {
    width: 100%;
  }
  .games-text058 {
    color: rgb(255, 255, 255);
  }
  .games-service-card1 {
    width: 100%;
    align-self: flex-start;
    min-height: auto;
  }
  .games-link17 {
    width: 100%;
  }
  .games-link18 {
    width: 100%;
  }
  .games-link19 {
    width: 100%;
  }
  .games-link20 {
    width: 100%;
  }
  .games-link21 {
    width: 100%;
  }
  .games-link22 {
    width: 100%;
  }
  .games-link23 {
    width: 100%;
  }
  .games-link24 {
    width: 100%;
    border-color: #000000;
    background-color: #5a1818;
  }
  .games-text096 {
    color: var(--dl-color-primary-700);
  }
  .games-link25 {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
  }
  .games-text103 {
    color: var(--dl-color-primary-700);
  }
  .games-link26 {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
  }
  .games-text110 {
    color: var(--dl-color-primary-700);
  }
  .games-link27 {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
  }
  .games-text121 {
    color: var(--dl-color-primary-700);
  }
  .games-link28 {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
  }
  .games-text130 {
    color: var(--dl-color-primary-700);
  }
  .games-link29 {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
  }
  .games-text139 {
    color: var(--dl-color-primary-700);
  }
  .games-link30 {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
  }
  .games-text148 {
    color: var(--dl-color-primary-700);
  }
  .games-link31 {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
  }
}
