.home-container10 {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
 
.home-thq-hero-elm {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  margin-top: var(--dl-layout-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-tripleunit);
  margin-bottom: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-fiveunits);
  justify-content: space-between;
}
 
.home-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
}
 
.home-thq-hero-text-container-elm {
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-left: 50px;
  margin-right: 50px;
  flex-direction: column;
}
 
.home-thq-heading-elm1 {
  color: #ffffff;
  width: auto;
  margin-bottom: var(--dl-layout-space-tripleunit);
}
 
.home-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.home-thq-text-elm1 {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-layout-space-tripleunit);
}
 
.home-thq-cta-btn-elm {
  color: var(--dl-color-gray-white);
  align-self: stretch;
  text-align: center;
  padding-top: var(--dl-layout-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-layout-space-doubleunit);
  text-decoration: none;
  background-color: rgba(26, 26, 26, 0.75);
}
 
.home-thq-image-elm {
  width: 100%;
  align-self: center;
  object-fit: contain;
}
 
.home-thq-section-separator-elm1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
 
.home-thq-features-elm {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-layout-space-tenunits);
  padding-left: var(--dl-layout-space-tripleunit);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-tenunits);
}
 
.home-thq-heading-container-elm {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-fiveunits);
  flex-direction: column;
}
 
.home-text24 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.home-thq-text-elm2 {
  color: var(--dl-color-gray-500);
  text-align: center;
}
 
.home-thq-cards-container-elm1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-thq-feature-card-elm1 {
  width: 30%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-doubleunit);
  padding-right: var(--dl-layout-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-doubleunit);
}
 
.home-image1 {
  width: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}
 
.home-thq-heading-elm2 {
  color: #ffffff;
  margin-bottom: var(--dl-layout-space-tripleunit);
}
 
.home-text25 {
  color: var(--dl-color-gray-500);
  text-align: center;
}
 
.home-thq-feature-card-elm2 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-doubleunit);
  padding-right: var(--dl-layout-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-doubleunit);
}
 
.home-image2 {
  width: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}
 
.home-thq-heading-elm3 {
  color: #ffffff;
  margin-bottom: var(--dl-layout-space-tripleunit);
}
 
.home-text28 {
  color: var(--dl-color-gray-500);
  text-align: center;
}
 
.home-thq-feature-card-elm3 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-doubleunit);
  padding-right: var(--dl-layout-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-doubleunit);
}
 
.home-image3 {
  width: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}
 
.home-thq-heading-elm4 {
  color: #ffffff;
  margin-bottom: var(--dl-layout-space-tripleunit);
}
 
.home-text34 {
  color: var(--dl-color-gray-500);
  text-align: center;
}
 
.home-text37 {
  color: #161616;
  margin-bottom: var(--dl-layout-space-doubleunit);
}
 
.home-container13 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-thq-section-separator-elm2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
 
.home-thq-blog-post-card-elm {
  width: 100%;
  height: 819px;
  display: flex;
  max-width: 1400px;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-thq-blog-post-card-elm:hover {
  transform: scale(1.02);
}
 
.home-container14 {
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
}
 
.home-container15 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
 
.home-text41 {
  color: var(--dl-color-gray-500);
  font-weight: 600;
  text-transform: uppercase;
}
 
.home-container16 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-container17 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.home-text42 {
  color: rgb(255, 255, 255);
  margin-bottom: 32px;
}
 
.home-image4 {
  width: 50%;
  height: auto;
  object-fit: cover;
  border-color: var(--dl-color-gray-500);
  border-style: hidden;
  border-width: 3px;
}
 
.home-text43 {
  color: var(--dl-color-gray-500);
  font-weight: 300;
}
 
.home-text44 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  margin-bottom: 32px;
}
 
.home-thq-container-elm {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-thq-profile-elm {
  display: flex;
  align-items: center;
}
 
.home-image5 {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: var(--dl-layout-radius-round);
}
 
.home-text49 {
  color: rgb(255, 255, 255);
}
 
.home-text50 {
  color: rgb(66, 251, 255);
  text-decoration: none;
}
 
.home-container18 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-container19 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.home-container20 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.home-thq-card-content-elm {
  margin: var(--dl-layout-space-fiveunits);
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  max-width: 500px;
  align-items: center;
  padding-right: 40px;
  flex-direction: column;
  justify-content: center;
}
 
.home-text53 {
  color: #ffffff;
  text-align: center;
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.home-text54 {
  color: var(--dl-color-primary-700);
  text-align: center;
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.home-navlink2 {
  display: contents;
}
 
.home-container21 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  border-color: #ffffff;
  border-width: 1px;
  justify-content: center;
  text-decoration: none;
  background-image: linear-gradient(to right, #fc00ff 0%, #00dbde 100%);
}
 
.home-text58 {
  color: #ffffff;
  font-size: 30px;
}
 
.home-container22 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-thq-testimonials-elm {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-layout-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-layout-space-tenunits);
  padding-left: var(--dl-layout-space-tripleunit);
  margin-bottom: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
}
 
.home-text59 {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.22;
  margin-bottom: var(--dl-layout-space-fiveunits);
  text-transform: none;
  text-decoration: none;
}
 
.home-thq-cards-container-elm2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-layout-space-doubleunit);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-thq-testimonial-card-elm1 {
  width: 312px;
  height: 242px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  border-color: var(--dl-color-gray-500);
  border-width: 3px;
  padding-left: var(--dl-layout-space-doubleunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: rgba(0, 0, 0, 0.8);
}
 
.home-thq-card-heading-elm1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-doubleunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  margin-bottom: var(--dl-layout-space-fourunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.home-thq-name-and-position-elm1 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-thq-name-elm1 {
  color: rgb(0, 255, 233);
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: underline;
}
 
.home-thq-position-elm1 {
  color: var(--dl-color-gray-700);
}
 
.home-thq-stars-container-elm1 {
  width: 50%;
  display: flex;
  margin-top: var(--dl-layout-space-unit);
  align-items: flex-start;
  flex-direction: row;
}
 
.home-icon10 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-unit);
}
 
.home-icon12 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-unit);
}
 
.home-icon14 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-unit);
}
 
.home-icon16 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-unit);
}
 
.home-icon18 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-unit);
}
 
.home-text60 {
  color: var(--dl-color-gray-500);
  text-align: left;
}
 
.home-thq-testimonial-card-elm2 {
  width: 312px;
  height: 242px;
  display: flex;
  padding: var(--dl-layout-space-fourunits);
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  border-color: var(--dl-color-gray-500);
  border-width: 3px;
  padding-left: var(--dl-layout-space-doubleunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-doubleunit);
  background-color: rgba(0, 0, 0, 0.8);
}
 
.home-thq-card-heading-elm2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-doubleunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  margin-bottom: var(--dl-layout-space-fourunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.home-thq-name-and-position-elm2 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-thq-name-elm2 {
  color: #00ffe9;
  font-size: 21px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: underline;
}
 
.home-thq-position-elm2 {
  color: var(--dl-color-gray-700);
}
 
.home-thq-stars-container-elm2 {
  width: 50%;
  display: flex;
  margin-top: var(--dl-layout-space-unit);
  align-items: flex-start;
  flex-direction: row;
}
 
.home-icon20 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-unit);
}
 
.home-icon22 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-unit);
}
 
.home-icon24 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-unit);
}
 
.home-icon26 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-unit);
}
 
.home-icon28 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-unit);
}
 
.home-text61 {
  color: var(--dl-color-gray-500);
  font-size: 17px;
  font-style: normal;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
 
.home-thq-testimonial-card-elm3 {
  width: 312px;
  height: 242px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  border-color: var(--dl-color-gray-500);
  border-width: 3px;
  padding-left: var(--dl-layout-space-doubleunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  background-color: rgba(0, 0, 0, 0.8);
}
 
.home-thq-card-heading-elm3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-doubleunit);
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  margin-bottom: var(--dl-layout-space-fourunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.home-thq-name-and-position-elm3 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-thq-name-elm3 {
  color: rgb(0, 255, 233);
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: underline;
}
 
.home-thq-position-elm3 {
  color: var(--dl-color-gray-700);
}
 
.home-thq-stars-container-elm3 {
  width: 50%;
  display: flex;
  margin-top: var(--dl-layout-space-unit);
  align-items: flex-start;
  flex-direction: row;
}
 
.home-icon30 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-unit);
}
 
.home-icon32 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-unit);
}
 
.home-icon34 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-unit);
}
 
.home-icon36 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-unit);
}
 
.home-icon38 {
  fill: var(--dl-color-primary-500);
  width: 24px;
  height: 24px;
}
 
.home-text62 {
  color: var(--dl-color-gray-500);
  text-align: left;
}
 
.home-container23 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-thq-content-container-elm {
  width: auto;
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  align-self: stretch;
  align-items: flex-start;
  padding-top: 36px;
  border-color: #ffffff;
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #424242;
}
 
.home-text65 {
  margin-top: var(--dl-layout-space-fiveunits);
  margin-bottom: var(--dl-layout-space-fiveunits);
}
 
.home-thq-locations-container-elm {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-fiveunits);
  flex-direction: row;
}
 
.home-thq-location1-elm {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-layout-space-fourunits);
  flex-direction: column;
}
 
.home-thq-heading-elm5 {
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-doubleunit);
}
 
.home-thq-adress-elm {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
}
 
.home-icon40 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
.home-thq-email-elm {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
}
 
.home-icon42 {
  width: 24px;
  height: 24px;
}
 
.home-text67 {
  color: #000000;
}
 
.home-thq-phone-elm {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
}
 
.home-image6 {
  width: 56px;
  height: 53px;
  object-fit: cover;
  border-color: #000000;
  border-width: 3px;
}
 
.home-image7 {
  width: auto;
  height: auto;
  opacity: 1;
  align-self: flex-start;
  object-fit: cover;
  border-color: #ffffff;
  border-width: 1px;
}
 
.home-link2 {
  display: contents;
}
 
.home-container24 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon44 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text72 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
