.whoops-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.whoops-text {
  color: #ffffff;
  font-size: 64px;
}
.whoops-text1 {
  color: #ffffff;
}
.whoops-navlink {
  color: #ffffff;
  border-color: #ffffff;
  text-decoration: none;
  background-color: #000000;
}
@media(max-width: 1200px) {
  .whoops-container {
    background-color: #000000;
  }
  .whoops-text {
    color: #ffffff;
    font-size: 64px;
  }
  .whoops-text1 {
    color: #ffffff;
  }
  .whoops-navlink {
    color: #ffffff;
    border-color: #ffffff;
    background-color: #000000;
  }
}
@media(max-width: 991px) {
  .whoops-container {
    background-color: #000000;
  }
  .whoops-text {
    color: #ffffff;
    font-size: 64px;
  }
  .whoops-text1 {
    color: #ffffff;
  }
  .whoops-navlink {
    color: #ffffff;
    border-color: #ffffff;
    background-color: #000000;
  }
}
@media(max-width: 767px) {
  .whoops-container {
    background-color: #000000;
  }
  .whoops-text {
    color: rgb(255, 255, 255);
    font-size: 64px;
    background-color: #000000;
  }
  .whoops-text1 {
    color: rgb(255, 255, 255);
    background-color: #000000;
  }
  .whoops-navlink {
    color: #ffffff;
    border-color: #ffffff;
    background-color: #000000;
  }
}
